body {
  /* background-color: #3a4047; */
  color: #fff !important;
  margin: 0;
  font-family: "IRANSans";
  font-weight: 200;
  line-height: 1.5em;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #c5c5c5;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: inherit;
  color: #fff;
  -webkit-text-fill-color: #fff;
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #fff;
}

/* .recharts-text {
  text-anchor: start;
} */

.recharts-legend-item-text {
  padding-right: 4px;
}
.recharts-polar-radius-axis-tick-value > tspan {
  font-size: 10px;
}

/* .recharts-cartesian-axis-tick-value {
  fill: #e5e5e5;
  font-size: 13px;
} */

.recharts-label {
  fill: #e5e5e5;
  font-size: 15px;
  font-weight: bolder;
}

.recharts-legend-item {
  text-align: start;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}

.load-more {
  display: block !important;
  bottom: -25px !important;
  margin: 0 auto !important;
}

.fab {
  position: fixed !important;
  bottom: 25px;
  left: 35px;
}
